/music/ 
/x64/
*.db
/databases/
HuaPi_so.pro.user
HuaPi_so.runsettings
HuaPi_so.sln
HuaPi_so.vcxproj
HuaPi_so.vcxproj.filters
HuaPi_so.vcxproj.user
/build/
/.vs/
/cache/
/HuaPi_so/
hotGirlPic.json
pornMovieList.json
/language/
cpp.hint